# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\COMSATS UNIVERSITY ISLAMABAD ATTOCK CAMPUS\BCS FALL 2020 B\2nd semester\Bioinformatics\PYTHON PROGRAMS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
